body {
    position: relative;
    margin: 0;
    background: #FFF;
    font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    color: #4f48a8;
}

a:hover {
    color: #369;
}

hr {
    border: 0;
    border-bottom: 1px dotted;
    margin: 0 8px;
    height: 0;
}

header {
    border-bottom: .25rem solid;
    padding: 0 30px;
    border-color: #4F5B93;
    background: #8892BF;
    box-shadow: 0 0.25em 0.25em rgba(0,0,0,.1);
}

.logo {
    float: left;
    padding: 7px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #22242f;
    text-decoration: none;
}

.logo:hover {
    color: #22242f;
}

.navigation {
    float: left
}

.navigation ul {
    float: left;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.navigation ul li {
    float: left;
}

.navigation ul li a {
    display: block;
    color: #E2E4EF;
    border: 0;
    padding: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.navigation ul li a:hover,
.navigation ul li a:focus,
av ul li.active {
    background-color: transparent;
    color: #fff;
}

.navigation ul li.active {
    color: #fff;
    background-color: #4F5B93;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.search-form {
    float: right;
    width: 333px;
    margin-right: 20px;
}

.search-form input[name="q"] {
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
    margin-top: 7px;
    padding: 2px 8px;
    width: 100%;
    font-size: 100%;
}

.clarification {
    float: right;
    margin: 2rem 1rem;
}

.breadcrumbs {
    margin: 4px 8px;
    background-color: #ebf4ff;
    border-radius: 4px;
}

.breadcrumbs ul {
    list-style: none;
    padding: 1rem;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs li:not(:first-child):before {
  padding: 0 .5rem 0;
  content: "/";
}

.result-search-form input[name="q"] {
    box-sizing: border-box;
    margin-top: 7px;
    border: solid 2px #99c;
    border-radius: 2px;
    padding: 6px;
    width: 100%;
    font-size: 16px;
}

.pagerfanta {
    display: block;
    text-align: center;
    padding: 10px;
}

.pagerfanta a, span.current {
    padding: 10px;
}

.thread, .result-search-form, .results {
    padding: 0 8px;
}

.post {
    word-wrap: break-word;
    margin: 4px 0;
    padding: 6px;
    background-color: #F2F2F2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 0 0 2px 2px;
}

.op-post {
    background-color: inherit;
    box-shadow: inherit;
    border-radius: inherit;
}

.post-header .title {
    font-weight: bold;
    color: #793862;
}

.post-header {
    margin-bottom: 2px;
}

.post-header .author {
    color: #333;
}

.post-header .datetime {
    color: #666;
}

.post-header .chain {
    padding: 0 2px;
}

.post-header .number a {
    color: inherit;
    text-decoration: none;
}

.post-header .number a:hover {
    color: #369;
}

.post-header .archives img {
    width: 16px;
}

.post-header .post-number {
    color: #789922;
    margin: 0 6px;
}

.files {

}

.files-multiple .file {
    display: inline-block;
}

.file {
    margin: 0 17px;
}

.file-attributes {
    text-decoration: none;
    color: #666666;
    font-size: .8em;
}

.file-link {
    display: block;
}

.file-link .preview {
    float: left;
    margin-right: 16px;
}

.filesize {
    display: block;
    font-size: 0.9em;
}

.text {
    overflow: auto;
    margin: 12px 36px;
    color: black;
}

.oppost .text {
    color: inherit;
}

.files + .text {
    margin: 0 12px 36px;
}

.files-multiple + .text {
    margin: 12px 36px;
}

.github-corner svg {
    fill: #151513;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

/* Place for markdown */
.o { text-decoration: overline; }
.u { text-decoration: underline; }
.s {text-decoration: line-through;}

.unkfunc{background:inherit;color:#789922;}
.spoiler font[color="green"], .spoiler .unkfunc { color: inherit !important }
.spoiler:hover font[color="green"], .spoiler:hover .unkfunc { color: green !important }

span.spoiler, span.spoiler a {background:#BBBBBB;color:#BBBBBB;}
span.spoiler a[href*="youtube.com"] {border-bottom:none;}
span.spoiler:hover{color:black;}
span.spoiler:hover a {color: #4f48a8;}

sub {vertical-align: sub;font-size: smaller;}
sup {vertical-align: super; font-size: smaller;}

.pomyanem { color: #C12267; font-style: italic;}


.refmap {
    margin: 3px 0;
    font-size: 75%;
    font-style: italic;
}

.open {
    font-size: 0.9em; 
    color: #666666;
}

.authorization-menu {
    float:right;
    margin: 0;
    padding-left: 10px;
}

.authorization-menu li {
    display:inline-block;
    padding-right: 5px;
}

.authorization-form label, .authorization-form input {
    display: block;
    width: 200px;
}

.authorization-form label, .authorization-form input[type="submit"] {
    margin: 10px auto;
}

.authorization-form input[type="submit"] {
    height: 36px;
}

.form-error {
    color: red;
}

.about {
    padding: 12px;
}

.about h2 {
    margin: 0;
    font-size: inherit;
}

.four-hundred-four {
    display: block;
    margin: 0 auto;
}

.post-preview {
    position: absolute;
}

#lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    box-shadow: rgb(0, 0, 0) 0px 4px 30px;
    border-radius: 2px;
    background: #FFF;
}

#lightbox .cross {
    position: absolute;
    top: 2px;
    right: -20px;
    opacity: 0.6;
    border-radius: 50%;
    padding: 0 2px;
    color: black;
}

#lightbox .cross:hover {
    cursor: pointer;
    opacity: 0.9;
}

#lightbox img, #lightbox video {
}

.loading-error {
    display: inline-block;
    border-radius: 0 0 2px 2px;
    border-color: #EABFBF;
    padding: .75rem;
    background: #F4DFDF;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
}

#loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 32px;
    height: 32px;
    z-index: 999;
}

.nav-arrows {
    position: fixed;
    right: 10px;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    z-index: 999;
}

.up-nav-arrow {
    top: 40px;
    background: url(../images/to-top@2x.png) 100% 100% no-repeat;
    background-size: cover;
}

.down-nav-arrow {
    bottom: 40px;
    background: url(../images/to-bottom@2x.png) 100% 100% no-repeat;
    background-size: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media only screen and (max-width: 980px) {
    body {
        font-size: 0.8em;
    }

    header {
        text-align: center;
    }

    .logo {
        font-size: 3em;
    }

    .search-form {
        float: none;
        margin: 10px auto;
        width: 66%;
    }

    .search-form input[name="q"] {
        font-size: 1em;
        outline-color: rgb(77, 144, 254);
    }

    .pagerfanta {
        font-size: 1.2em;
    }

    .pagerfanta a, span.current, span.disabled {
        margin: 0 5px;
        padding: 5px 0;
    }

    .post-header .archives img {
        padding: 0 3px;
    }

    .file {
        margin: 5px 17px;
        max-width: 110px;
    }

    .preview {
        margin: 0;
        max-width: 100%;
    }

    .text {
        margin: 1em;
    }

    .files-multiple + .text {
        margin: 1em;
    }

    .github-corner svg {
        width: 80px;
        height: 80px;
    }
}