/.idea/
/vendor/

!/public/json/.gitkeep
!/public/pr/src/.gitkeep
!/public/pr/thumb/.gitkeep

/public/pr/src/**
/public/pr/thumb/**
/public/json/**
/public/*
!/public/robots.txt
!/public/index.php
!/public/media
.env

config/sphinx.conf
var
deploy_key
