parameters:
	level: 6
	inferPrivatePropertyTypeFromConstructor: true
	excludes_analyse:
		- %currentWorkingDirectory%/src/Migrations/*
		- %currentWorkingDirectory%/tests/ThreadParser/MarkupConverterTest.php
		- %currentWorkingDirectory%/tests/Util/DOMUtilTest.php
		- %currentWorkingDirectory%/src/ThreadParser/MarkupConverter.php
		- %currentWorkingDirectory%/src/Command/ImportThreadsCommand.php
	ignoreErrors:
	    -
	        message: '#If condition is always true.#'
	        path: %currentWorkingDirectory%/src/Util/DOMUtil.php

