parameters:
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	excludes_analyse:
		- %currentWorkingDirectory%/src/Migrations/*
	ignoreErrors:
#	    - '#Method App\Command\.*::execute() should return int|null but empty return statement found.#'
	    - '#If condition is always true.#'
