<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        stopOnFailure="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="PhpClub">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENVIRONMENT" value="testing"/>
    </php>
</phpunit>